# Ambiente virtual
venv/
.venv/
debug_venv/

# Variáveis de ambiente
.env

# Large files / media / books / seed sql
books/
extracted_images/
*.pdf
scripts/*.sql
test_page1.png

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
*:Zone.Identifier

deploy.sh
